# Top-most EditorConfig file
root = true

# Default rules for all files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown files
[*.md]
max_line_length = off

# PowerShell scripts on Windows
[*.ps1]
end_of_line = crlf
indent_size = 4

[*.{py,cs,java,kt,rs}]
indent_size = 4

[{Makefile,*.mk,*.go}]
indent_style = tab

[*.{cmd,bat}]
end_of_line = crlf
